# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Make output
.torcs.rc
config.log
config.status
export/
setup_linux.sh
torcs
accc
nfs2ac
nfsperf
infsperf
texmapper
trackgen
*.depend
**/specfiles/*.spec
**/gennmtab
**/torcs-bin